html {
    font-size: 12px;
}

@import "../lib/fancybox/jquery.fancybox.css";
@import "modules/header";
@import "modules/footer";
body{
    background: #f6f6f6;
    color: #424146;
    ul {
        padding-left: 0;
    }
    li {
        list-style-type: none;
    }
}

.title-about{
    text-align: center;
    display: inline-block;
    background-color: #424147;
    color: #ffea00;
    font: 400 1.125rem/1.313rem "Century Gothic";
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 9px 30px;
}


.section-about-skokov{
    background: url("../images/slider-bg-2.png") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    margin-bottom: 20px;
    .title-about-skokov{
        display: inline-block;
        min-width: 290px;
        color: #ffea00;
        background-color: #424146;
        font-size: 2.188rem;
        text-transform: uppercase;
    }
}


.section-about-welcome{
    .media-about{
        .title-welcome{
            font: 400 1.875rem/2rem "Century Gothic";
            text-transform: uppercase;
            text-align: center;
            margin-top: 35px;
        }
        .text-welcome-prew{
            font:400 0.938rem/1.313rem "Century Gothic";
            margin-top:15px;
            margin-bottom: 10px;
        }
        .text-welcome{
            font:400 0.938rem/1.5rem "Century Gothic";
            p{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}




.section-progress-bar {
    text-align: center;
    .text-progress-bar{
        font: 400 1rem/1.313rem "Century Gothic";
    }
}
.progress-about{
    display: block;
    background-color: #424147;
    border-radius: 0;
    margin: 5px;
    .progress-bar-about{
        background-color: #ffea00;
        font:400 1.063rem/1.313rem "Century Gothic";
        text-transform: uppercase;
        text-align: left;
        color: #424146;
    }
    .progress-title {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #424147;
        color: #ffea00;
        font:400 1.063rem/1.313rem "Century Gothic";
        text-transform: uppercase;
        padding-bottom: 8px ;
    }
}


.section-team{
    text-align: center;
    .text-team{
        font: 400 1rem/1.313rem "Century Gothic";
    }
    .list-team{
        .team-item {
            display: block;
            .img-team{
                margin: 0 auto;
                background-color: #ffea00;
            }
            .title-name{
                background-color: #424147;
                color: #ffea00;
                font: 400 1rem/1.313rem "Century Gothic";
                text-transform: uppercase;
                display: inline-block;
                //width: 150px;
                padding: 2px;
                margin-bottom: 60px;
                a{
                    color: #ffea00;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 14px;
    }
    .title-about{
    }
    .section-about-skokov{
        .title-about-skokov{
        }
    }
    .section-about-welcome{
        margin-top: 40px;
        .media-body-about{
            .img-media-about{
            }
            .title-welcome{
                margin-top: 0;
                font: 400 1.875rem/1.313rem "Century Gothic";
            }
            .text-welcome-prew{
            }
            .text-welcome{
            }
        }
    }
    .section-progress-bar {
        .text-progress-bar{
        }
    }
    .progress-about{
        .progress-bar-about{
        }
        .progress-title {
        }
    }
    .section-team{
        text-align: center;
        .text-team{

        }
        .list-team{

            li{

                .img-team{

                }
                .title-name{
                }
            }
        }
    }

}

@media (min-width: 992px) and (max-width: 1199px)  {
    html{
        font-size: 16px;
    }
    .section-about-skokov{
        .title-about-skokov{
        }
    }
    .title-about{
    }
    .section-about-welcome{
        margin-top: 40px;
        .media-body-about{
            .img-media-about{
            }
            .title-welcome{
                margin-top: 0;
                font: 400 1.875rem/1.313rem "Century Gothic";
            }
            .text-welcome-prew{
            }
            .text-welcome{
            }
        }
    }


    .progress-about{
        display: block;
        background-color: #424147;
        border-radius: 0;
        margin: 5px;
        .progress-bar-about{
            background-color: #ffea00;
            font:400 1.063rem/1.313rem "Century Gothic";
            text-transform: uppercase;
            text-align: left;
            color: #424146;
        }
        .progress-title {
            padding-left: 10px;
            padding-right: 10px;
            background-color: #424147;
            color: #ffea00;
            font:400 1.063rem/1.313rem "Century Gothic";
            text-transform: uppercase;
        }
    }


    .section-team{
        .text-team{
        }
        .list-team{
            li{
                .img-team{
                }
                .title-name{
                }
            }
        }
    }

}

@media (min-width: 1200px) and (max-width: 1632px)  {
    html{
        font-size: 16px;
    }
    .section-about-skokov{
        .title-about-skokov{
            padding: 22px 105px 22px 22px;
            margin: 40px 0;
            margin-left: 134px;
        }
    }
    .title-about{
        margin-top: 80px;
    }


    .section-about-welcome{
        margin-top: 40px;
        .media-body-about{
            .img-media-about{
            }
            .title-welcome{
                margin-top: 0;
                font: 400 1.875rem/1.313rem "Century Gothic";
            }
            .text-welcome-prew{
            }
            .text-welcome{
            }
        }
    }


    .progress-about{
        display: block;
        border-radius: 0;
        margin: 5px;
        .progress-bar-about{
            text-align: left;
        }
        .progress-title {
            padding-left: 10px;
            padding-right: 10px;
        }
    }


    .section-team{
        .text-team{
        }
        .list-team{
            li{
                .img-team{
                }
                .title-name{
                }
            }
        }
    }
}

@media (min-width: 1663px) {
    html{
        font-size: 16px;
    }
    .title-about{
        margin-top: 80px;
        margin-bottom: 30px;
        padding: 8px 31px;
      }


    .section-about-skokov{
        .title-about-skokov{
            padding: 22px 105px 22px 22px;
            margin: 40px 0;
            margin-left: 134px;
        }
    }


    .section-about-welcome{
        width: 1390px;
        padding: 0;
        margin-top: 60px;
        .media-body-about{
            padding-left: 30px;
            .title-welcome{
                font: 400 1.875rem/1.313rem "Century Gothic";
            }
            .text-welcome-prew{
                margin-top:30px;
                margin-bottom: 27px;
            }
            .text-welcome{
            }
        }
    }


    .section-progress-bar {
        width: 1007px;
        .text-progress-bar{
            margin-bottom: 30px;
        }
    }
    .progress-about{
        .progress-bar-about{
        }
        .progress-title {
        }
    }


    .section-team{
        width: 1245px;
        padding: 0;
        margin-bottom: 80px;
        .text-team{
            margin-bottom: 54px;
        }
        .list-team{
            li{
                .img-team{
                }
                .title-name{
                    width: 200px;
                }
            }
        }
    }
}
